{% extends 'base.html' %}
{% load embed_video_tags %}

        
{% block content %}
<div class="container" style="background:white">
        <div class="row">
            <div class="col-md-12">
                {% for  blogs in blogs %}  

<a  href="{% url 'detail' blogs.slug %}"  style="color:black; "><strong >{{blogs.title}}</strong></a><br> 
By <a href="{% url 'blog-by-author' blogs.author.id %}">{{blogs.author.author}}</a>   <br><br><br>
{% if blogs.image %}
 <a href="{% url 'detail' blogs.slug %}"><img src="/media/{{blogs.image}}" style="height:500px;width:500px;"> </a>
 {% else %}
 {% video blogs.video '500x500' %}
 {% endif %}
 <br><br><br>
<p>{{blogs.description}}</p>


<hr style= ' background-color: red; height: 1px; border: 0; '>
{% endfor %}
</div></div></div>

{% endblock %}
